<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="APP_NAME" value="mybatis-mysql-generator-test" />
    <property resource="application.yml" />
    <property name="log.folder" value="${log.root}/${APP_NAME}"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} %C %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 当天日志 -->
    <appender name="daily" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.folder}/daily/daily.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/daily/daily.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} %C %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--指定file名好，则当天生成的文件会以此命名，前一天的文件则会被fileNamePattern的规则覆盖-->
        <file>${catalina.base}/logs/carmall-manager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--如果要启用压缩，需要将fileNamePattern的后缀名设置为压缩格式-->
            <fileNamePattern>${catalina.base}/logs/carmall-manager.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--maxHistory设置控制已产生日志数-->
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--文件存储位置问题参考网址-->
    <!--https://unmi.cc/logback-xml-variable-with-default-value/-->
    <!--分级别日志start-->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.folder}/debug/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/debug/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} %C %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.folder}/info/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/info/info.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} %C %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.folder}/warn/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/warn/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} %C %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.folder}/error/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} %C %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!--分级别日志end-->

    <!--log4jdbc -->

    <logger name="com.ibatis" level="DEBUG"/>
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG"/>
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG"/>
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>
    <logger name="java.sql.Connection" level="error"/>
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>


    <!--druid-->
    <logger name="druid.sql" level="error"/>
    <logger name="druid.sql.DataSource" level="error"/>
    <logger name="druid.sql.Connection" level="error"/>
    <logger name="druid.sql.Statement" level="error"/>
    <logger name="druid.sql.ResultSet" level="error"/>
    <logger name="com.alibaba.druid.pool" level="error"/>

    <!--mybatis 显示SQL语句部分-->
    <logger name="org.mybatis" level="debug"/>
    <logger name="java.sql" level="debug"/>
    <logger name="java.sql.Statement" level="debug"/>
    <logger name="java.sql.ResultSet" level="debug"/>
    <logger name="java.sql.PreparedStatement" level="debug"/>

    <!--过滤多余日志-->
    <logger name="org.apache.zookeeper" level="error"/>
    <logger name="com.alibaba.dubbo" level="error"/>
    <logger name="com.alibaba.dubbo.remoting.transport.netty" level="error"/>
    <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="error"/>
    <logger name="org.springframework" level="error"/>
    <logger name="org.mybatis.spring" level="error"/>


    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="daily"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="WARN"/>
        <appender-ref ref="ERROR"/>
    </root>
</configuration>